h1{
    color: #fff;
    font-family: 'Lato', sans-serif;
}

h2{
    color: #C0201B;
    font-family: 'Lato', sans-serif;
}

h3{
    color: #fff;
    font-family: 'Lato', sans-serif;
}

p{
    color: #fff;
    font-family: 'Lato', sans-serif;
}