/* 
------------------------------
HTML/CSS By  
 ________  ___  ________  ________           ________     
|\   ____\|\  \|\   __  \|\   ___  \        |\   __  \    
\ \  \___|\ \  \ \  \|\  \ \  \\ \  \       \ \  \|\  \   
 \ \  \  __\ \  \ \   __  \ \  \\ \  \       \ \   _  _\  
  \ \  \|\  \ \  \ \  \ \  \ \  \\ \  \       \ \  \\  \| 
   \ \_______\ \__\ \__\ \__\ \__\\ \__\       \ \__\\ _\ 
    \|_______|\|__|\|__|\|__|\|__| \|__|        \|__|\|__|
------------------------------
*/

/* ---> General <---*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262626;
    overflow: inherit;
}

section {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #616161;
}

::-webkit-scrollbar-thumb {
    background: #8C1814;
    ;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C0201B;
    width: 30px;
    border-radius: 5px;
}

/*HEADER*/


header {
    box-shadow: 5px 5px 8px;
    top: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    width: 100vw;
    height: 70px;
    border-bottom: 3px solid #fff;
}

header input {
    display: none;
}

header .burger-container {
    margin-left: 20px;
    transition-duration: 0.4s;
}

header .burger-container:active {
    transform: rotate(45deg);
}

header .burger-layer {
    margin: 3px;
    width: 30px;
    height: 5px;
    background-color: #fff;
}

header img {
    transition-duration: 0.4s;
    max-height: 60%;
    margin-right: 20px;
}


/* ---> Mobile Nav <---*/

#mobile-container {
    box-shadow: 0px 5px 8px;
    display: none;
    z-index: 1;
    top: 70px;
    position: fixed;
    width: 100vw;
    height: 220px;
    background-color: #333333;
    border-bottom: 3px solid #fff;
}

#mobile-container ul {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#mobile-container ul li {
    list-style: none;
    width: 100%;
    margin-top: 28px;
}



#mobile-container ul li a {
    padding-right: 95%;
    padding-left: 5% ;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    background-color: #616161;
}



/* ---> Homepage Mobile <---*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome img {
    max-width: 80%;
    margin-bottom: 10vh;
    transition-duration: 0.4s;
    -webkit-transition: 0.4s;
}


.welcome button {
    position: relative;
    width: 180px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition: 0.4s;
    font-style:unset;
    background-color: #C0201B;
    border: none;
    border-radius: 0.5rem;
}

.welcome button:after {
    content: "";
    background: #8C1814;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.welcome button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explanation {
    margin-top: 50px;
}


.textbox {
    margin: 30px;
}

@media only screen and (max-width: 720px) {
    .desktop-container {
        display: none;
    }
}

/* ---> Homepage Desktop (+ Desktop Nav) <---*/
@media only screen and (min-width: 720px) {

    header {
        width: 100%;
    }

    header .burger-container {
        display: none;

    }

    #mobile-container {
        display: none;
    }

    .desktop-container {
        display: block;
        z-index: 1;
        margin-left: 20px;
    }

    .desktop-container li {
        list-style-type: none;
        float: left;
        margin: 10px
    }

    .desktop-container ul li a {
        position: relative;
        display: block;
        text-decoration: none;
        font-family: "Lato";
        color: #ecf0f1;
        text-transform: uppercase;
        padding: 4px 0;
        transition: 0.5s;
    }

    .desktop-container ul li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background: #C0201B;
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: right;
    }

    .desktop-container a {
        text-decoration: none;
        color: white;
    }

    .desktop-container li a:hover {
        color: #616161;
    }

    .desktop-container ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .welcome img {
        transition-duration: 0.4s;
        width: 600px;
    }

    .welcome img:hover {
        width: 650px;
    }

    .welcome button:hover {
        background-color: #8C1814;
    }

    .welcome-text {
        display: grid;
        grid-template-rows: 50% 50%;
    }

    .welcome-text {}
}


/* ---> Characters Overview <---*/
.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.characters h1 {
    margin-top: 100px;
    text-align: center;
}

.thumbnail h3 a {
    font-style: initial ;
    color: white;
    transition-duration: 0.2s;
}

.thumbnail h3 a:hover {
    color: #C0201B;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    transition-duration: 0.2s;
    margin-top: 20px;
    box-shadow: 4px 4px 10px;
    background-color: #333333;
    border-color: #616161;
    border-width: 2px;
    border-style: solid;
    width: 90%;
    border-radius: 10px;
}



.thumbnail .top {
    display: flex;
    margin: 10px;
}

.thumbnail .top .content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 40%;
}

.thumbnail .stars {
    align-self: baseline;
}

.thumbnail .star {
    width: 15px;
}

.thumbnail .picture {
    max-width: 40%;
    min-width: 140px;
    border-radius: 10px;
    border-color: #616161;
    border-style: solid;
}

.thumbnail .bottom {
    margin: 30px 10px;
}

@media only screen and (max-width: 1299px) {
    .thumbnail {
        height: 50%;
    }
}

@media only screen and (min-width: 865px) {

    .thumbnail {
        margin: 30px;
        width: 50%;
    }

    .thumbnail:hover {
        margin-top: 25px;
        box-shadow: 5px 5px 10px;
    }

    .thumbnail .picture {
        max-width: 200px;
    }
}

@media only screen and (min-width: 1300px) {
    .thumbnails {
        display: flex;
        flex-direction: row;
    }

    .thumbnail {
        height: 50%;
        margin: 30px;
        width: 30%;
    }

    .thumbnail:hover {
        width: 30%;
    }

    .thumbnail .picture {
        max-width: 50%;
    }
}

/* ---> Character Profile <---*/

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile h1 {
    margin-top: 100px;
    margin-left: 30px;
}

.profile .poster {
    display: flex;
    margin: 30px;
}

.profile .poster img {
    width: 50%;
    border-radius: 10px;
}

@media (max-width: 415px) {
    .profile .poster img {
        width: 55%;
        border-radius: 10px;
    }
}

.profile .poster ul {
    margin: 10px;
}

.profile .poster ul li {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    color: #C0201B;
    margin-top: 5px;
}

.profile .information {
    margin: 0 30px;
}

.profile .information p{
    margin-top: 10px;
}

.profile .stars{
    display: flex;
    width: 40px;
}


.video-container {
    margin:30px;
    overflow: hidden;
    position: relative;
    width:80%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 450px) {
    .profile .poster{
        flex-direction: column;
    }
    .profile .poster img{
        width: 75%;
    }

    .profile .poster ul {
        margin-left: 0;
    }
    
}

@media only screen and (min-width: 700px) {

    .profile .poster {
        display: flex;
    }

    .profile .poster img {
        width: 20%;
    }

    .profile .information {
        width: 50%;
    }

    .profile .stars{
        width: 100px;
    }

    .video-container {
        margin:30px;
        overflow: hidden;
        position: relative;
        width:50%;
        border-radius: 10px;
        box-shadow: 3px 3px 10px;
    }
}

/* ---> Impressum <---*/

.copyright .text {
    margin-top: 100px;
    margin-left: 30px
}

.copyright .text h2 {
    margin-top: 10px;
}

.copyright .text p{
    width: 80%;
    margin-top: 5px;
}

.copyright .text a {
    text-decoration: none;
    font-family: "Lato";
    color: #C0201B;
    padding: 4px 0;
    transition: 0.5s;
}

.copyright .text a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #C0201B;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: right;
}

.copyright .text a {
    text-decoration: none;
    color: #C0201B;
}

.impressum .text a:hover {
    color: #616161;
}

.copyright .te a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



/* Contact */

.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1{
    margin-top: 100px;
}

.dc-invite{
    width: 90%;
    height: 300px;
    margin-top: 30px;
}

@media only screen and (min-width: 720px) {
    .dc-invite{
        width: 350px;
        height: 500px;
    }
}


/* Footer */
footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1E1E1E;
}


.left-footer{
    justify-self: left;
    margin: 30px 0;
    margin-left: 30px;
    text-align: left;
}

.middle-footer{
    justify-self: flex-end;
    margin: 30px 5px;
    text-align: center;
}

.right-footer{
    justify-self: flex-end;
    margin: 30px 0;
    margin-right: 30px;
    text-align: right;
}